.container{
    width: 99vw;
    background-color:orange;
    height: max-content;
}
.head{
    width: 99vw;
    height: 300px;
}
.content{
    width: 99vw;
    height: max-content;
}
.row{
    width: 99vw;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vw;
}
.game{
    width: 24vw;
    height: 300px;
}
.thumbnail{
    width: 24vw;
    height: 280px;
    background-color: orchid;
}
.title{
    width: 24vw;
    height: 20px;
    background-color:red;
    text-align: center;
}

